body {
    font-family: 'Georgia', Times, Times New Roman, serif;
    box-sizing: inherit;
    line-height: 28px;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#headContainer {
    width: 100%;
    height: 120px;
    background: #fbfbfb;
    position: sticky;
    top: 0;
    border-bottom: 2px solid #cccccc;
    z-index: 100;
}

#nameLogo {
    background: #51C7E8;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 250px;
    padding: 25px;
    text-align: center;
    z-index: 200;
}

#siteNav {
    float: right;
    position: absolute;
    right: 50px;
    top: 50px;
}

a:link {
    color: #666666;
    text-decoration: none;
}

a:visited {
    color: #666666;
    text-decoration: none;
}

a:hover {
    color: #51C7E8;
    text-decoration: underline;
}

a:active {
    color: lightgrey;
    text-decoration: underline;
}

#nameHeader {
    color: #ffffff;
}

h1 {
    color: #51C7E8;
}

#contentSection {
    background: #fbfbfb;
    max-width: 960px;
    margin: 75px auto;
    padding: 25px;
    border: 1px solid #dddddd;
    color: #777777;
    flex: 1;
}

#mePic {
    float: left;
    margin: 10px 25px 0 0;
}

#footer {
    width: 100%;
    border-top: 8px solid #51C7E8;
    height: 50px;
    background: #666666;
    text-align: center;
}

small {
    color: lightgray;
    position: relative;
    top: 15px;
}

#portfolioSection {
    background: #fbfbfb;
    max-width: 960px;
    margin: 75px auto;
    padding: 25px;
    border: 1px solid #dddddd;
    color: #777777;
    flex: 1;
}

.portfolioItem {
    margin: 10px 25px 0 25px;
    float: left;
}

.portfolioItem:hover {
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

.itemLogo {
    background: #51C7E8;
    position: relative;
    bottom: 75px;
    width: 200px;
    height: 35px;
    color: white;
    box-sizing: border-box;
    text-align: center;
    z-index: 99;
}

#contactSection {
    background: #fbfbfb;
    width: 65%;
    margin: 75px auto;
    padding: 25px;
    border: 1px solid #dddddd;
    color: #777777;
    flex: 1;
}

.contactLabel {
    margin: 10px 25px 0 0;
    display: inherit;
}

.contactForm {
    margin: 10px 25px 0 0;
    display: block;
    width: 95%;
}

textarea {
    min-width: 50%;
    max-width: 95%;
}

button {
    background: #51C7E8;
    margin-top: 10px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
}

button:active {
    background: #777777;
}

@media screen and (max-width: 980px) {
    /* #contactSection {
        max-width: unset;
        min-width: 80%;
    }

    .contactForm {
        width: unset;
        min-width: 80%;
    } */
} 

@media screen and (max-width: 768px) {
    #nameLogo {
        position: static;
        display: block;
        padding: 1px;
    }

    #headContainer {
        position: sticky;
        display: block;
        z-index: 100;
    }

    #siteNav {
        text-align: center;
        position: static;
        float: unset;
        margin-top: 10px;
    }

    .portfolioItem {
        margin-left: 225px;
    }

    .portfolioItem:hover {
        -ms-transform: unset;
        -webkit-transform: unset;
        -moz-transform: unset;
        -o-transform: unset;
        transform: unset;
      }

    /* #contactSection {
        max-width: unset;
        min-width: 80%;
    }

    .contactForm {
        width: unset;
        min-width: 80%;
    } */
}

@media screen and (max-width: 640px) {

    #portfolioSection {
        width: 85%;
    }
    
    .portfolioItem {
        display: block;
        position: static;
        margin-left: 30%;
    }
    
    .portfolioItem:hover {
        -ms-transform: unset;
        -webkit-transform: unset;
        -moz-transform: unset;
        -o-transform: unset;
        transform: unset;
      }

    #mePic {
        float: unset;
        margin-left: 40%;
        
    }
}

@keyframes backgroundFade {
    from {opacity: 0;}
    to {opacity: 100%;}
}

.contentWrapper {
    animation-name: backgroundFade;
    animation-duration: 2s;
    animation-delay: 4s;
    animation-fill-mode: both;
}

@keyframes example {
    0%  {display: none;}
    1%   {background: black; left:37.5%; top:37.5%;}
    20%  {background: white; left:62.5%; top:37.5%;}
    40%  {background: #51C7E8; left:62.5%; top:62.5%;}
    60%  {background: black; left:37.5%; top:62.5%;}
    80% {background: white; left:37.5%; top:37.5%;}
    99% {background: #51C7E8; left:50%; top:50%;}
    100% {display: none;}
  }
  
  .animDiv {
    width: 100px;
    height: 100px;
    position: fixed;
    animation-name: example;
    animation-duration: 4s;
    animation-fill-mode: both;
    border-radius: 50%;
  }