body {
    font-family: 'Georgia', Times, Times New Roman, serif;
    box-sizing: inherit;
    line-height: 28px;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#headContainer {
    width: 100%;
    height: 120px;
    background: #fbfbfb;
    position: relative;
    top: 0;
    border-bottom: 2px solid #cccccc;
}

#nameLogo {
    background: #51C7E8;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 250px;
    padding: 25px;
    text-align: center;
    z-index: 100;
}

#siteNav {
    float: right;
    position: absolute;
    right: 50px;
    top: 50px;
}

a:link {
    color: #666666;
    text-decoration: none;
}

a:visited {
    color: #666666;
    text-decoration: none;
}

a:hover {
    color: #51C7E8;
    text-decoration: underline;
}

a:active {
    color: lightgrey;
    text-decoration: underline;
}

#nameHeader {
    color: #ffffff;
}

h1 {
    color: #51C7E8;
}

#contentSection {
    background: #fbfbfb;
    max-width: 960px;
    margin: 75px auto;
    padding: 25px;
    border: 1px solid #dddddd;
    color: #777777;
    flex: 1;
}

#mePic {
    float: left;
    margin: 10px 25px 0 0;
}

#footer {
    width: 100%;
    border-top: 8px solid #51C7E8;
    height: 50px;
    background: #666666;
}

small {
    color: lightgray;
    position: relative;
    top: 15px;
    left: 50%;
}

#portfolioSection {
    background: #fbfbfb;
    max-width: 960px;
    margin: 75px auto;
    padding: 25px;
    border: 1px solid #dddddd;
    color: #777777;
    flex: 1;
}

.portfolioItem {
    margin: 10px 25px 0 25px;
    float: left;
}

.portfolioItem:hover {
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

.itemLogo {
    background: #51C7E8;
    position: relative;
    bottom: 75px;
    width: 200px;
    height: 35px;
    color: white;
    box-sizing: border-box;
    text-align: center;
}

#contactSection {
    background: #fbfbfb;
    width: 85%;
    margin: 75px auto;
    padding: 25px;
    border: 1px solid #dddddd;
    color: #777777;
    flex: 1;
}

.contactLabel {
    margin: 10px 25px 0 0;
    display: inherit;
}

.contactForm {
    margin: 10px 25px 0 0;
    display: block;
    width: 85%;
}

textarea {
    max-width: 950px;
}

button {
    background: #51C7E8;
    margin-top: 10px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
}

button:active {
    background: #777777;
}

@media screen and (max-width: 768px) {
    #nameLogo {
        position: static;
        display: block;
        padding: 1px;
        z-index: unset;
    }

    #headContainer {
        position: unset;
        display: block;
    }

    #siteNav {
        text-align: center;
        position: static;
        float: unset;
        margin-top: 10px;
    }

    #contactSection {
        max-width: unset;
        min-width: 80%;
    }

    .contactForm {
        width: unset;
        min-width: 80%;
    }
}

@media screen and (max-width: 640px) {

    #contactSection {
        max-width: unset;
        min-width: 80%;
    }

    .contactForm {
        width: unset;
        min-width: 80%;
    }
}